<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>
<div class="box">
<h1 class="lang">Java</h1><hr><h2>
<%= link_to "Read", java_read_path,class: "java-read"%>

<br><hr>

<%= link_to "Practice", java_practice_path,class: "java-read"%>

 <br><hr>

<%= link_to "Challenge", java_challenge_path,class: "java-read"%>

<br><hr>

<%= link_to "Progress", java_progress_path,class: "java-read"%>

<hr></h2>
</div>
<div class="boxPython">
<h1 class="lang">Python</h1><hr><h2>
Read<br><hr>
Practice<br><hr>
Challenge<br><hr>
Progress<hr>
</h2>

</div>