<h1 ><u></u></h1>
<p>
<h4>

</h4>
</p>
<h2></h2>
<h3></h3>

<h4>
Java is a programming language and a platform.

Java is a high level, robust, secured and object-oriented programming language.

Platform: Any hardware or software environment in which a program runs, is non as a platform. Since Java TEMPhas its own runtime environment (JRE) and API, it is called platform.
<h4>
<div class="grid-container">
  <div class="item1">Java Introduction</div>
  <div class="item2">Menu</div>
  <div class="item3">Java is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java. This reference will take you through simple and practical approaches while learning Java Programming language.</div>  
  <div class="item4">Audience</div>
  <div class="item5">This tutorial has been prepared for the beginners to help them understand the basic to advanced concepts related to Java Programming language.</div>
</div>