// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lang {
  color: brown;
}

.boxPython {
  box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 26%;
  height: 300px;
   text-align: center;
   padding: 25px;
   font-size: 150%; 
   margin: 20px;
   float: right;
   
}

.boxPython:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.java-read {
  text-decoration: none;
}

.box {
  
  box-shadow: 5px 4px 8px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 26%;
  height: 300px;
   text-align: center;
   padding: 25px;
   font-size: 150%; 
   margin: 20px;
   float: left;
   
   
}
 
 .box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}