<h2>Categories :-</h2>
<div class="side">
<%= link_to  "Ready Steady Start", javacat_start_path(:anchor => "javacat#start_path") %>
<br>
<hr>

A look to java
<br>
<hr>
How to install in your system
<br>
<hr>

opertaor
<br>
<hr>

loops
<br>
<hr>

function
<br>
<hr>

opps in java
<br>
<hr>

swing
<br>
<hr>

javafx
<hr>

</div>