<h1 class="prac-head">
Practice
</h1>
<h3>
Question Centre
</h3>

<div class="java-string">
<%= link_to  "String",  jps_path %>
</div>

<div class="java-loop">
<%= link_to  "Loop's", jls_path %>
</div>

<div class="java-function">
Function
</div>
